label {
  text-align: center;
  color: #ffffff;
  text-shadow: 4px 4px 4px #ff91bb;
}

/* --- ESTILO PARA O FORMULÁRIO--- */

.form-container {
  max-width: 600px;
  margin: 30px auto;
  background-color: #ffdddd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgb(0, 0, 0.1);
  border: #fcf4f4;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 15px;
  font-weight: bold;
  color: #ff91bb;
}

form input,
form select,
form textarea {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(182, 117, 150);
  background-color: #fcf4f4;
  box-sizing: border-box;
}

form textarea {
  resize: vertical;
}

form button {
  margin-top: 25px;
  padding: 12px;
  font-size: 18px;
  background-color: #f6d0d0;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
form button :hover {
  background-color: #ff91bb;
}