html {
  height: 100%;
  width: 100%;
}



  table{
    width: 100%;
    border-collapse: collapse; /* Remove espaço entre as bordas */
  }
  th, td {
    border: 2px solid black; /* Adiciona bordas às células */;
    padding: 8px; 
    text-align: center;
  }
  th{
    background-color: rgb(228, 108, 108); /* Define a cor de fundo da célula */
  }


  
    

    #meio{
      text-align: left;
    }
